

<footer class="footer">
  <div class="footer__border">
    <div class="container-custom">
      <div class="footer__inner">
        <nav class="footer__nav">
          {% for information in informations %}
          <a href="{{ information.href }}" class="footer__link">{{ information.title }}</a>
          {% endfor %}
          <a href="#" class="footer__link">Контакты</a>
          <a href="https://www.instagram.com/by.jenny_/" class="footer__link">Instagram</a>
          
        </nav>

        <a href="#" class="footer__contacts">{{ telephone }}</a>
      </div>
    </div>
  </div>
  <div class="container-custom">
    <div class="footer__bottom">
      <div class="footer__date">
        <p class="footer__text">© {{ 'now'|date('Y') }}</p>
        <img src="image/catalog/logo.png" title="{{ name }}" alt="{{ name }}" class="footer__logo">
      </div>

      <a href="/terms" class="footer__agreement">Пользовательское соглашение</a>


      <div class="footer__powered">
          <p class="footer__powered-text">Сделано в </p>
          <a href="https://gagarin-digital.ru/" class="footer__powered-link"> GAGARIN</a>
      
      </div>
    
    </div>


  </div>
</footer>




{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}

</body></html>