
{% if languages|length > 1 %}

  <div class="language">
    <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-language">
      <div class="language__btn-group">
        <button class="language__dropdown-toggle" data-toggle="dropdown">
        {% for language in languages %}
          {% if language.code == code %} 
          <span class="language__text">{{ language.name | slice(0,2) }}</span>
        </button>
          {% endif %}
        {% endfor %}
        <ul class="language__dropdown">
          {% for language in languages %}
          <li>
            <button class="language__btn language-select" type="button" name="{{ language.code }}">
              {{ language.name }}
            </button>
          </li>
          {% endfor %}
        </ul>
      </div>
      <input type="hidden" name="code" value="" />
      <input type="hidden" name="redirect" value="{{ redirect }}" />
    </form>
  </div>
{% endif %}

