
<div class="container-custom">


  <h3 class="title">{{ heading_title }}</h3>

  <div class="product-custom"> 
  {% for product in products %}

    

      <div class="product-custom__item">

        <div class="product-custom__image-row">

          <a class="product-custom__image-link" href="{{ product.href }}">
            <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="product-custom__image" />
          </a>
          
          <button class="product-custom__button-cart" type="button" onclick="cart.add('{{ product.product_id }}');">
            <span>{{ button_cart }}</span>
          </button>

          <div class="product-custom__button-group">

          
            <button class="product-custom__button" type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');">
              <i class="fa fa-star"></i>
            </button>
            <button class="product-custom__button" type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');">
              <i class="fa fa-exchange"></i>
            </button>
          </div>

        </div>

        <div class="product-custom__caption">
          <a class="product-custom__link" href="{{ product.href }}">
            <h4 class="product-custom__caption-title">
              {{ product.name }}
            </h4>
          </a>
          {# <p>{{ product.description }}</p> #}

          {# {% if product.rating %}

          <div class="product-custom__rating">{% for i in 1..5 %}

            {% if product.rating < i %} 
            <span class="fa fa-stack">
              <i class="fa fa-star-o fa-stack-2x"></i>
            </span> 
            {% else %} 
            <span class="fa fa-stack">
              <i class="fa fa-star fa-stack-2x"></i>
              <i class="fa fa-star-o fa-stack-2x"></i>
            </span> 
            {% endif %}

            {% endfor %}
          </div>
          {% endif %} #}

          {% if product.price %}

          <p class="product-custom__price"> 
              {% if not product.special %}

              {{ product.price }}

              {% else %} <span class="product-custom__price-new">{{ product.special }}</span> 
              <span class="product-custom__price-old">{{ product.price }}</span> 
              
              {% endif %}
              {% if product.tax %} <span class="product-custom__price-tax">{{ text_tax }} {{ product.tax }}</span> 
              
              {% endif %} </p>
          {% endif %} 
          </div>
        
      </div>
   
    
  {% endfor %} 
    
  </div>

